.navBar{
    background-color: green;
}
.navBar img{
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 0;
}
.navBar span{
    z-index: 1;
}